// src/pages/index.astro
---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/astro/HeroSection.astro';
import EngineGrid from '../components/astro/EngineGrid.astro';
import TelemetryTable from '../components/astro/TelemetryTable.astro';
import PricingSection from '../components/astro/PricingSection.astro';
---

<Layout title="Kuantusantara | Institutional Quantitative EA">
  <main class="bg-[#07080A] min-h-screen text-white selection:bg-white/[0.1] selection:text-white font-sans overflow-x-hidden">
    <HeroSection />
    <EngineGrid />
    <TelemetryTable />
    <PricingSection />
  </main>
</Layout>